$background__color_main: #181818; 
$background__color_primary: #202020;
$background__color_secondary: #121212;
$background__color_header: #0D0D0D;

$maim__color_text: #ffffff;
$main__border_color: #ffffff;

$sidebar__btn-red: #ED3024;
$sidebar__btn-blue: #3137C9;

$z-index__sidebar-1000: 1000;
$z-index__header-1000: 1000;

$sidebar-with: 300px;
