.search {
	max-width: 21rem;
	width: 100%;
	background-color: $background__color_primary;
}
.s_input {
	background-color: transparent;
	border: none;
	font-family: inherit;
	font-size: 1.2rem;
	color: $maim__color_text;
	display: block;
	padding: 1.2rem 2rem;
	width: 100%;
	display: block;

	&::placeholder {
		color: rgba(#ffffff, .4);
	}
}